* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Header com gradiente pastel */
header {
    background: linear-gradient(to right, #a8c0ff, #ffb3d9, #ffdfba);
    color: white;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-size: 2.5em;
}

/* Menu de navegação */
nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-png {
    width: 15%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 15px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #007BFF;
}

/* Estilo do conteúdo */
.content {
    padding: 40px;
    text-align: center;
}


/* Rodapé */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.carrosel-menu {

    display: flex;
    justify-content: space-between;
    padding: 50px;


}

.carrosel-abas img {
    width: 80%;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);

}

.carrosel-menu button {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.87);
cursor: pointer;
    background-color: rgb(77, 189, 110);
}